.searchbar__container {
    position: relative;
}

.searchbar {
    pointer-events: all;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    padding: 16px 0;
    padding-left: 40px;
    border-radius: 6px;
    border: 1px solid transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    color: rgb(37, 30, 30);

    &__button{
        pointer-events: all;
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        width: 40px;
        height: 40px;
        font-size: 1.3rem;
        color: rgba(0, 0, 0, 0.7);
        transition: all 0.3s ease-in-out;

        &:hover {
            color: black;
            // font-size: 1.4rem;
            transform:translateY(-50%) rotate(0.5turn) scale(105%) translateZ(20px);
            
}
    }
  
    &::placeholder {
      letter-spacing: normal;
      color:rgba(12, 12, 12, 0.181);
    }

    @include onPortable{
        font-weight: bold;
    }
    @include onDesktop{}
  
    &--small {}
    &--large {}
  }