
.user-info {
  @include text;
  color:rgb(213, 212, 212);
  display: flex;
  align-items: center;
  gap: 12px;

  transition: all 0.3s ease;

  &:hover{
    color:rgb(254, 227, 227);

  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
  }
}
