.card-user-info {
  @include text;
  box-sizing: border-box;
  color: rgb(37, 37, 37);
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.3s ease;
  width: fit-content;

  z-index: 10;

  background-color: rgba(211, 208, 208, 0.286);

  &:hover {
    color: rgb(254, 227, 227);
    background-color: rgba(0, 0, 0, 0.522);
  }

  &__avatar {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    overflow: hidden;
  }
  &__name {
    flex: 1;
    width: 100%;
  }
}
